body,
button {
  font-size: 20px;
  text-align: center;
  background-size: cover;
  background-color: black;
}

button {
  background: rgb(95, 30, 99);
  height: 40px;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7),
    0 1px 2px rgba(0, 0, 0, 0.25);
}
button:hover {
  background: rgb(226, 207, 207);
  cursor: pointer;
  opacity: 0.7;
}

button:active {
  background: #bbb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

header {
  font-size: 2pc;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input {
  background: #f8f8f8;
}
#celsius {
  margin: 20px;
  width: 100px;
  border-radius: 8px;
}
#fahrenheit {
  margin: 10px;
  width: 100px;
  border-radius: 8px;
}
#kelvin {
  margin: 10px;
  width: 100px;
  border-radius: 8px;
}
.card {
  background-image: linear-gradient(
      to bottom,
      rgba(11, 11, 12, 0.52),
      rgba(37, 36, 37, 0.73)
    ),
    url("photo-1536532184021-da5392b55da1.jfif");
  max-width: 60%;
  min-width: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.spacing {
  margin: 15px;
}

.temp-fields {
  display: inline-block;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}
